body {
    text-align: center;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

img{
    width: 350px;
}

.hero {
    background-image: url(images/beautiful-india-gate-new-delhi-generative-ai-photo.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    font-size: 30px;
    padding: 10px 0px;
}

#visit {
    margin-top: 250px;
    margin-bottom: 0px;
}

#tag-line{
    margin-top: 0px;
}

#top3 {
    background-color: rgb(253, 255, 229);
    font-size: 30px;
    padding-top: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.activities {
    background-color: rgb(253, 255, 229);
    padding: 40px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

#monuments {
    border: 1px solid black;
    border-radius: 500px;
}

#street-foods {
    border: 1px solid black;
    border-radius: 500px;
}

#gardens {
    border: 1px solid black;
    border-radius: 500px;
}

#myimage {
    margin: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

.card {
    width: 450px;
    height: 250px;
    margin: 30px auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #ddebf8;
    border-bottom: 8px solid #d8cefe;
    border-radius: 12px;
    box-shadow: #d8cefe 10px 10px 20px;
}

